.main {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1d2631;
  color: white;
  overflow-x: hidden;
}

/* menu */
.left-side {
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #1d2631;
  height: 100%;
  border-right: 0.01px solid wheat;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-size: 18px;
  list-style: none;
}

.menu-link {
  display: flex;
  gap: 25px;
}
.func {
  display: none;
}
/* content */
.between-side {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 20%;
  background-color: #1d2631;
  height: 100%;
}
.search-acc{
  display: flex;
  position: relative;
}
.search-bar {
  position: relative;
  left: 10px;
  width: 180px;
}
.search-icon {
  position: absolute;
  top: 18px;
  left: 150px;
}

.search {
  color: white;
  top: 10px;
  left: 2%;
  width: 100%;
  height: 35px;
  border: 0.1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.acc-btn{
  position: absolute;
  top: 4px;
  right: 10%;
}
.acc {
  position: fixed;
  top: 12px;
  left: 65%;
}

.footer {
  border-top: 0.01px solid white;
}

.footer-1 {
  display: flex;
  justify-content: space-around;
}
.footer-nav {
  height: 20px;
  display: flex;
  gap: 10px;
  padding: 0 auto;
  list-style: none;
  color: white;
  font-size: 14px;
}

.line {
  border-left: 0.1px solid white;
}

.down {
  display: flex;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.521);
  gap: 5px;
}

.footer-2 {
  display: flex;
  justify-items: center;
  gap: 7px;
  color: white;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.white-color {
  color: white;
}

.blue-color {
  color: blue;
}

.title-modal {
  color: white;
  text-align: center;
}

.footer-4 {
  padding-left: 20px;
  display: flex;
  justify-items: center;
  gap: 5px;
  color: white;
}

.d-flex {
  display: flex;
  justify-items: center;
  align-items: center;
}
.notification{
  color: red;
  font-size: 14px;
}
.input-icon{
  font-size: 24px;
  position: absolute;
  left: 35px;
}
.input-form {
  width: 240px;
  height: 35px;
  border: 0.1px solid rgba(255, 255, 255, 0.459);
  padding-left: 30px;
  border-radius: 5px;
  color: white;
  background-color: black;
}
.form-submit {
  color: white;
  background-color: blue;
}
.form-submit:hover {
  color: white;
  background-color: blue;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bg-2 {
  background-color: rgba(0, 0, 0, 0.288);
}
/* right side */


.play-list {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 7px;
}
.check-to-add {
  display: none;
  color: white;
  margin-left: -5px;
}
.song {
  padding: 5px;
}
.song:hover {
  background-color: rgba(0, 0, 0, 0.39);
}
.song:hover .hover-to-check {
  display: none;
}

.song:hover .check-to-add {
  display: block;
}
.content {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.play-now{
  display: none;
}
.play-bottom{
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #130c1c;
  z-index: 5;
}
.play-now-song{
  padding-top: 10px;
  padding-left: 5px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.list-bottom{
  margin-left: 50%;
}
.abc{
  padding-top: 10px;
}

/* responsive */
@media screen and (max-width: 600px) {
  .between-side{
    width: 80%;
  }
  .footer-1 {
    flex-direction: column;
  }
  .footer-4 {
    flex-direction: column;
  }
  .footer-nav {
    font-size: 12px;
  }
  .footer-3 p {
    font-size: 12px;
  }
  .footer-2 img {
    width: 40%;
  }
}
@media screen and (min-width: 900px) {
  .func {
    display: block;
  }
  .between-side{
    width: 55%;
  }
  .play-now{
    display: block;
  }
  .play-bottom{
    display: none;
  }
  .right-side {
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  right: -20%;
  background-color: #1d2631b7;
  height: 100%;
}
}

/* this page */
.content {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.singer-banner{
    max-width: 100%;
}
.flex{
    display: flex;
    align-items: center;
    gap: 8px;
}
.btn-play{
    font-size: 40px;
    border-radius: 50%;
}
.btn-play:hover{
    color: white;
    background-color: purple;
}
.btn-follow {
  padding: 3px 10px;
  font-size: 10px;
  border-radius: 20px;
  border: solid white 0.1px;
  color: white;
}
.btn-follow:hover {
  border: solid rgba(255, 255, 255, 0.767) 0.1px;
  color: rgba(255, 255, 255, 0.767);
}
.p-relative{
    position: relative;
}
.banner-content{
    position: absolute;
    left: 10px;
    top: 45px;
}
.play{
    position: relative;
    top:30%;
    left: 30%;
}
.play-song {
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
}
.song:hover .play-song {
  display: block;
}

.img-single{
    max-width: 100%;
    border-radius: 5px;
}
.btn-play-single{
    font-size: 45px;
    border: solid white .1px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 55px;
}
.img-single:hover .btn-play-single{
    display: block;
}

.list-mv{
    display: flex;
    gap: 10px;
}

.mv{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mini-img{
    border-radius: 50%;
    vertical-align: middle;
}
.other-singer{
    width: 19%;
    text-align: center;
}
.circle-img{
    border-radius: 50%;
    max-width: 100%;
    margin: 0 auto;
}
.width-100{
    width: 100%;
    display: flex;
}
.img-about{
    width: 49%;
    margin-left: 10px;
}
